*{
    box-sizing: border-box;
}
body{
    background-color: black;
    color: white;
    text-align: center;
}
.outer_box{
    width: 600px;
    height:600px;
    background-color: grey;
    margin-left: auto;
    margin-right: auto;
}

.inner1{
    width:200px;
    height:200px;
    border: 1px solid yellow;
    
}
#flex{
    display:flex;
}
.outer_box:hover{
    cursor: pointer;
}
.inner1:hover{
    background-color: rgb(113, 111, 111);
}
